# Next.js のビルド成果物
/.next/
/.vercel/
/out/          # Next.js の静的エクスポート先として out/ を使っている場合

# 依存モジュール
/node_modules/

# 一時ファイル
.DS_Store
npm-debug.log*

# もし public 以下に動的に生成した sitemap.xml があるなら
/public/sitemap.xml
/*.html
