# Next.js のビルド成果物
/.next/
/.vercel/
/out/          # もし static エクスポート先が out/ なら

# 依存モジュール
/node_modules/

# 一時ファイル
.DS_Store
npm-debug.log*

# もし public 以下に動的に生成した sitemap.xml があるなら
/public/sitemap.xml
/*.html
